@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #fff;
  --background: #88ccee;
  --highlight: #16a34a;
  font-size: large;
}

body {
  color: var(--foreground);
  background: var(--background);
  overscroll-behavior: none;
}

a, em {
  text-decoration: underline var(--highlight) 2px;
}

a:hover {
  color: var(--highlight);
}

h1 {
  padding: 1rem/* 16px */;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 700;
}

footer p, footer a {
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  color: #9ca3af;
}